
    <div class="container" id="conteudo1">
      <p>
      Experiências:
        Estágio 
        - DIMAGEM Diagnostico por Imagem
        Período: 2016/2018
      </p>
      <p>
      Cursos:
        Designer Gráfico
        - Red Zero
        Períodp: 2015/2016

        Tecnico de Informática
        - SENAC
        Período: Término em julho/2019 
      </p>
      <p>
      Idiomas:
        Espanhol
        - YES
        Período: 2013/2014

        Francês 
        - Autoditada
        Período: 2018/...
      </p>
      
    </div>

 
<!-- Fim do conteúdo -->